.navbar {
  background-color: #ffffff;
  color: #000;
  height: 90px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  box-shadow: none;
  transition: width 0.3s ease;

  .content {
    height: 76px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-title {
    width: 372px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
    margin-left: 15px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
    -webkit-background-clip: text;
    color: transparent;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 20px;
      background: linear-gradient(to right, transparent, #ffffff);
    }
  }
}
